*,
*::after,
*::before:not(i) {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Nunito", sans-serif;
}

body {
  position: relative;
  overflow-x: hidden;
}
body.preventScroll {
  overflow: hidden;
}

h1 {
  font-size: clamp(1rem, 8vw, 2rem);
}

header {
  padding: 20px 10px;
  background-image: url("./images/background.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  height: 100vh;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
header h1 {
  color: #263574;
}
header img {
  width: 200px;
  max-width: 90%;
}
header #big,
header #medium {
  display: none;
}
header p {
  padding: 10px 20px;
  line-height: 1.6;
  font-size: clamp(0.5rem, 5vw, 1.2rem);
  background-color: rgba(38, 53, 116, 0.75);
  color: white;
  margin-bottom: 50px;
}

nav {
  height: 50px;
  background-color: rgba(255, 255, 255, 0.75);
  overflow: hidden;
  margin-top: -50px;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-between;
  padding: 10px 20px;
  align-items: center;
  z-index: 50;
}
nav img {
  height: 40px;
}
nav li,
nav #openNavbar {
  cursor: pointer;
}
nav ul {
  position: fixed;
  top: 0;
  right: 0;
  background-color: rgba(255, 255, 255, 0.95);
  height: 100%;
  padding: 20px 20px 20px 50px;
  list-style: none;
  line-height: 3;
  text-align: right;
  box-shadow: 0 -5px 10px 2px;
  transform: translateX(110%);
  transition: transform 0.5s;
}
nav ul.showMenu {
  transform: translateX(0%);
}
nav ul.showMenu::before {
  content: "";
  width: 100vw;
  height: 100vh;
  background-color: rgba(255, 255, 255, 0.5);
  position: absolute;
  top: 0;
  left: -100vw;
  -webkit-backdrop-filter: blur(3px);
          backdrop-filter: blur(3px);
}

#products {
  height: 100vh;
  padding: 50px 20px;
  background-color: #263574;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: relative;
}
#products .text-container {
  width: 100%;
}
#products .text-container img {
  max-width: 90%;
}
#products .text-container p {
  font-size: clamp(0.75rem, 6.5vw, 1.5rem);
  color: #f4e506;
  font-weight: 600;
  width: 80%;
  margin: auto;
  margin-top: 20px;
}
#products .items-container {
  width: 100%;
}
#products .items-container ul {
  list-style: none;
  position: relative;
  isolation: isolate;
  width: 100%;
  max-width: 500px;
  margin: auto;
  height: 200px;
}
#products .items-container ul li {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 20%;
}
#products .items-container ul li svg {
  border-radius: 50%;
  box-shadow: 0 0 0 0 #f4e506;
  background-color: #263574;
  transition: all 0.5s;
}
#products .items-container ul li svg * {
  fill: #f4e506;
}
#products .items-container ul li p {
  font-size: 0rem;
  text-align: center;
  width: 200%;
  margin: auto;
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translate(-50%, 0);
  color: #f4e506;
  font-weight: 600;
  transition: all 0.5s;
}
#products .items-container ul li.first {
  transform: translate(150%, -50%) scale(0.5);
  z-index: -1;
}
#products .items-container ul li.second {
  transform: translate(75%, -50%) scale(0.5);
  transition: all 0.5s;
}
#products .items-container ul li.third {
  transform: translate(-50%, -50%) scale(1.5);
  transition: all 0.5s;
  z-index: 5;
}
#products .items-container ul li.third p {
  font-size: clamp(0.5rem, 5vw, 1.2rem);
}
#products .items-container ul li.forth {
  transform: translate(-175%, -50%) scale(0.5);
  transition: all 0.5s;
}
#products .items-container ul li.fifth {
  transform: translate(-250%, -50%) scale(0.5);
  transition: all 0.5s;
  z-index: -1;
}

#partners {
  padding: 80px 20px;
  min-height: 100vh;
  text-align: center;
}
#partners h1 {
  margin-bottom: 80px;
}
#partners .container {
  width: min(750px, 100%);
  margin: auto;
  height: 90%;
  display: grid;
  gap: 50px;
  grid-template-columns: repeat(auto-fit, minmax(min(150px, 100%), 1fr));
}
#partners .container .grid_element {
  width: 100%;
  aspect-ratio: 1.5;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
#partners .container .grid_element img {
  width: 50%;
}

#cards {
  background-color: #263574;
}
#cards .cards-container {
  padding: 50px 0 50px 0;
  width: min(960px, 90%);
  margin: auto;
  height: 90%;
  display: grid;
  gap: 30px;
  grid-template-columns: repeat(auto-fit, minmax(min(300px, 100%), 1fr));
  color: #f4e506;
}
#cards .cards-container .card {
  background-color: #263574;
  text-align: center;
  border-radius: 5px;
  padding: 30px 10px;
  width: 100%;
}
#cards .cards-container .card:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
#cards .cards-container .card:hover .img-container > img {
  width: 110%;
  filter: brightness(0.5);
}
#cards .cards-container .card h2 {
  margin-bottom: 20px;
}
#cards .cards-container .card .img-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  width: 90%;
  aspect-ratio: 1;
  overflow: hidden;
  margin-bottom: 30px;
  border-radius: 10px;
}
#cards .cards-container .card .img-container img {
  width: 100%;
  filter: brightness(1);
  transition: all 1s ease;
}

#map {
  width: min(960px, 90%);
  padding: 80px 0;
  margin: auto;
  display: grid;
  grid-template-rows: 1fr 1fr;
  gap: 30px;
}
#map .map-container {
  order: 2;
}
#map .map-container #map-iframe {
  width: 100%;
  aspect-ratio: 1;
}
#map .text-container {
  color: #263574;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
}
#map .text-container .logo-text-container {
  font-size: clamp(0.75rem, 6.5vw, 1.5rem);
}
#map .text-container .inner-text {
  font-size: clamp(0.75rem, 6.5vw, 1.5rem);
  line-height: 1.8;
}

#contact {
  background-color: #263574;
  padding: 80px 0 30px 0;
}
#contact h1 {
  text-align: center;
  font-size: clamp(1rem, 8vw, 2rem);
  color: #f4e506;
  margin-bottom: 30px;
}
#contact .contact-text-container {
  color: white;
}
#contact .contact-text-container h2 {
  text-align: center;
}
#contact .contact-text-container h3 {
  font-size: clamp(0.75rem, 6.5vw, 1.5rem);
}
#contact .contact-text-container .social-icons {
  padding: 30px;
  text-align: center;
}
#contact .contact-text-container .social-icons .fa {
  height: 100%;
  width: 42px;
  color: #f4e506;
  padding: 10px;
  border-radius: 50%;
  border: 3px solid #f4e506;
  margin: 0 20px;
}
#contact .contact-text-container select {
  font-size: clamp(0.75rem, 6.5vw, 1.5rem);
  width: 100%;
  padding: 10px 15px;
  margin-top: 10px;
  outline: none;
  border: none;
}
#contact .contact-text-container span {
  font-size: clamp(0.75rem, 6.5vw, 1.5rem);
  display: flex;
  align-items: baseline;
  margin: 15px;
}
#contact .contact-text-container span .fa {
  margin-right: 10px;
  color: #f4e506;
}
#contact .contact-container {
  margin: auto;
  width: min(960px, 90%);
  display: grid;
  grid-template-rows: 1fr 1fr;
  gap: 40px;
}
#contact .contact-container form {
  display: flex;
  flex-direction: column;
  color: white;
  text-align: center;
}
#contact .contact-container form input, #contact .contact-container form textarea, #contact .contact-container form button {
  padding: 10px 20px;
  margin: 10px 0;
  outline: none;
  border: none;
  border-radius: 20px;
  box-shadow: 3px 3px 10px black;
}
#contact .contact-container form textarea {
  resize: vertical;
}
#contact .contact-container form button {
  background-color: transparent;
  font-weight: bolder;
  border: 3px solid #f4e506;
  color: #f4e506;
  transform: translateY(0);
  transition: all 0.3s;
}
#contact .contact-container form button:hover {
  background-color: #f4e506;
  color: #263574;
  transform: translateY(-2px);
  box-shadow: 3px 3px 20px black;
}
#contact .contact-container form button:hover:active {
  filter: brightness(0.5);
  transform: translateY(2px);
  box-shadow: 0px 0px 5px black;
}

footer {
  background-color: #263574;
  padding: 10px;
}
footer i {
  margin-left: 10px;
}
footer a {
  color: white;
  text-decoration: none;
  font-size: 0.7rem;
}
footer a:hover {
  text-decoration: underline;
}

@media (min-width: 400px) {
  header #big,
header #small {
    display: none;
  }
  header #medium {
    display: block;
  }

  #partners .container > .grid_element > img {
    width: 100%;
  }
}
@media (min-width: 800px) {
  header #medium,
header #small {
    display: none;
  }
  header #big {
    display: block;
  }

  #map {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: none;
  }
  #map .map-container {
    order: 0;
  }

  #contact .contact-text-container {
    order: 2;
  }
  #contact .contact-text-container select {
    font-size: clamp(0.5rem, 5vw, 1.2rem);
    padding: 5px 10px;
    margin-top: 10px;
  }
  #contact .contact-text-container span {
    font-size: clamp(0.5rem, 5vw, 1.2rem);
  }
  #contact .contact-container {
    grid-template-rows: none;
    grid-template-columns: 1fr 1fr;
    gap: 50px;
  }
}/*# sourceMappingURL=styles.css.map */